<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WMS_Site_TopCharoen.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="WMS_STD_MAIN.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <appSettings>
<!--<add key="ConnectionString" value="Data Source=192.168.1.8;Initial Catalog=WMS_Site_KingStella_PROD_UAT;User ID=kasco;PWD=kascodb;Connect Timeout=600;Max Pool Size=100000;"/>-->
  <add key="ConnectionString" value="Data Source=192.168.200.214;Initial Catalog=WMS_Site_Topcharoen;User ID=sa;PWD=KCadmin01;Connect Timeout=600;Max Pool Size=100000;"/>
    <!--<add key="ConnectionString" value="Data Source=FREMILY,2016;Initial Catalog=WMS_Site_Topcharoen_P2;User ID=sa;PWD=1234;Connect Timeout=600;Max Pool Size=100000;"/>-->


    <!--<add key="ConnectionString" value="Data Source=kascoit.ddns.me ,22016;Initial Catalog=WMS_Site_Topcharoen;User ID=sa;PWD=K@sc0db12345;Connect Timeout=600;Max Pool Size=100000;"/>-->

    <add key="numberOfColumnsHeader" value="100"/>
    <add key="numberOfColumnsRemark" value="6"/>
    <add key="numberOfColumnsDetail" value="87"/>
    <add key="Config_AutoTime" value="18:00"/>
    <add key="Printer_Barcode_Name" value="Snagit9"/>
    <add key="ConnectionStringAS400" value="Driver={iSeries Access ODBC Driver};System=my_system_name;Uid=myUsername;Pwd=myPassword;"/>
    <!--<add key ="ConnectionStringAS400" value="Driver={Clien t Access ODBC Driver(32bit)};System=my_system_name;Uid=myUsername;Pwd=myPassword;"/>-->
    <add key="UseLocalPath" value="1"/>
    <!-- ถ้าเป็น 1 เก็บรูปที่ Server,0 เก็บรูปตาม App Config <check by dong_kk> -->
    <add key="ATTACH_PATH" value="D:\Temp\"/>
    <add key="IMAGE_PATH_COMPANY" value="D:\Temp\"/>
    <add key="IMAGE_PATH_LAYOUT" value="D:\Temp\"/>
    <add key="IMAGE_PATH_ORDER" value="D:\Temp\"/>
    <add key="IMAGE_PATH_SKU" value="D:\Temp\"/>
    <add key="IMAGE_PATH_WITHDRAW" value="D:\Temp\"/>
    <add key="IMAGE_PATH_Employee" value="D:\Temp\"/>

    <!--<add key="Printer_Barcode_Name" value="BIXOLON SLP-T400"/>-->
    <add key="Printer_Barcode_Name" value="Microsoft XPS Document Writer"/>
    <add key="Printer_Name_Box" value="Snagit 9"/>
    <add key="PathReport_Box" value="\Packing\Report\rptBarcodeBox.rpt"/>
    <add key="PathReport_BoxDetail" value="\Packing\Report\rptBarcodeBoxDetail.rpt"/>


    <add key="UpdateFromPath" value="D:\projects\blank"/>
    <add key="USEUpdateProgream" value="false"/>
    <!--ใช้เปิดปิดการอัพเดทโปรแกรม ในกรณีที่ต้องการ DEBUG โปรแกรมให้เป้น False -->

    <add key="Display_Log" value="5000"/>
    
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Office.Interop.Excel" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.C1Chart.2" publicKeyToken="A22E16972C085838" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.20091.19053" newVersion="2.0.20091.19053"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--ควย-->
  <applicationSettings>
    <WMS_Site_TopCharoen.My.MySettings>
      <setting name="WMS_Service_Control" serializeAs="String">
        <value>http://192.168.200.213//ServiceStd4_2/Service.asmx</value>
      </setting>
    </WMS_Site_TopCharoen.My.MySettings>
  </applicationSettings>
</configuration>
