<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="WMS_Site_Topcharoen_Interface.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<appSettings>
  <!--<add key="ConnectionString" value="Data Source=kascoit.ddns.net,22017;Initial Catalog=WMS_Site_Topcharoen;User ID=sa;PWD=K@sc0db12345;Connect Timeout=600;Max Pool Size=100000;"/>-->
  <add key="ConnectionString" value="Data Source=192.168.200.214;Initial Catalog=WMS_Site_Topcharoen;User ID=sa;PWD=KCadmin01;Connect Timeout=600;Max Pool Size=100000;"/>
  <!--Enable Checked Box 0 ไม่ทำงาน 1 ทำงาน-->  
  <add key="ChkSelectAllINF" value="1"/>
  <add key="chkReturn" value="1"/>
  <add key="chkTransferIN" value="1"/>  
  <add key="chkSalesOrder" value="1"/>
  <add key="chkTransferOut" value="1"/>
  <add key="chkmsCus" value="1"/>
  <add key="chkProduct" value="1"/>
  <add key="chkCreditNote" value="1"/>
    <add key="chkGoodsIssue" value="1"/>
  <!--<add key="ConnectionString" value="Data Source=kascoserver\mssql2014ex;Initial Catalog=WMS_Site_KingStella_Dev;User ID=sa;PWD=K@sc0db12345;Connect Timeout=999000;Max Pool Size=100000;"/>-->
  <add key="WebService_Customer" value="http://210.1.6.66/dbo_test/webservicewms.asmx?op=Get_DataCustomer"/>
  <add key="WebService_LastUpdate" value="http://210.1.6.66/dbo_test/webservicewms.asmx?op=Update_LastUpdate_Customer"/>
  <add key="WebService_Product" value="http://210.1.6.66/ServiceWMS_TEST/WebServiceWMS.asmx?op=Get_DataProduct"/>
  <add key="WebService_SalesOrder" value="http://210.1.6.66/ServiceWMS_TEST/WebServiceWMS.asmx?op=Get_SalesOrder"/>
  <add key="Display_Log" value="5000"/>
  <add key="Timer_Interval" value="3000"/>
</appSettings>
    <applicationSettings>
        <WMS_Site_Topcharoen_Interface.My.MySettings>
            <setting name="Preserve_RawData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Import_RawData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WMS_ConnectionString" serializeAs="String">
                <value>Data Source=192.168.200.214;Initial Catalog=WMS_Site_Topcharoen;User ID=sa;PWD=KCadmin01;Connect Timeout=600;Max Pool Size=100000;</value>
            </setting>
            <setting name="LOG_ConnectionString" serializeAs="String">
                <value>Data Source=192.168.200.214;Initial Catalog=WMS_Site_Topcharoen_InterfaceLog;User ID=sa;PWD=KCadmin01;Connect Timeout=600;Max Pool Size=100000;</value>
            </setting>
            <setting name="OMS_API" serializeAs="String">
                <value>http://192.168.200.208:81/WMS-API/OMSApi.asmx</value>
            </setting>
        </WMS_Site_Topcharoen_Interface.My.MySettings>
    </applicationSettings>
</configuration>